# NÃO coloque sua senha real no GitHub.
# Preencha apenas no ambiente local/Codespace.

PORT=3000

DB_HOST=35.226.64.52
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

TMDB_API_KEY=

SESSION_SECRET=troque-por-uma-chave-secreta