PORT=3000
TRUST_PROXY_HOPS=1

DB_HOST=db
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

TMDB_API_KEY=

MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=

APP_URL=http://localhost:3000
AUTH_PORT=3001
AUTH_SERVICE_URL=http://auth-service:3001
LOG_SERVICE_URL=http://log-service:3002

JWT_SECRET=
SESSION_SECRET=
INTERNAL_SERVICE_SECRET=

# MinIO / perfil
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=profile-photos
MINIO_REGION=us-east-1
